.partners-wrapper {
    position: relative;
    z-index: 0;
    background-color: var(--page-background);
    max-width: 100%;
    border-radius: 10px;
}

.partners-title {
    text-align: center;
    font-size: clamp(18px, 3.5vw, 35px);
    font-weight: 500;
    margin: 0 0 2em 0;
}

.partners-carousel {
    margin: 0 auto;
}

.carousel-wrapper {
    padding: 0 5%;
    position: relative;
    overflow: hidden;
}
.carousel-wrapper:hover .carouselpart1,
.carousel-wrapper:hover .carouselpart2 {
    animation-play-state: paused;
}

.carousel {
    position: relative;
    width: 3300px;
    height: 150px;
    display: flex;
}

.carouselpart1 {
    animation: scroll-out-left forwards infinite linear;
}

.carouselpart2 {
    animation: scroll-in-left forwards infinite linear;
}

.carouselpart1,
.carouselpart2 {
    animation-duration: 40s;
}

@keyframes scroll-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-in-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-item {
    flex: 0 0 auto;
    min-width: 0;
    margin: 10px 50px;
    text-align: center;
}

.carousel-item img {
    height: 100px;
    width: auto;
    max-width: 100%;
}

.carousel-item .wide {
    max-height: 50px;
    width: auto;
}

.carousel-item .eurowagon-logo {
    max-height: 70px;
    width: auto;
}

.carousel-wrapper .fb-left {
    background-image: linear-gradient(
        to right,
        var(--page-background) 30%,
        rgba(255, 255, 255, 0)
    );
    left: 0;
}

.carousel-wrapper .fb-right {
    background-image: linear-gradient(
        to left,
        var(--page-background) 70%,
        rgba(255, 255, 255, 0)
    );
    right: 0;
}

.carousel-controls {
    text-align: center;
}

/* Media Queries */

@media (max-width: 1000px) {
    .carousel {
        width: 2200px;
        height: 100px;
    }

    .carouselpart1,
    .carouselpart2 {
        animation-duration: 30s;
    }

    .carousel-item {
        margin: 10px 33px;
    }

    .carousel-item img {
        height: 66px;
    }

    .carousel-item .wide {
        max-height: 36px;
    }
}

@media (max-width: 500px) {
    /* times 0.66 */
    .carousel {
        width: 1466px;
        height: 66px;
    }

    .carousel-item {
        margin: 10px 22px;
    }

    .carousel-item img {
        height: 44px;
    }

    .carousel-item .wide {
        max-height: 24px;
    }
}
