.touch-slider-wrapper {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1em var(--shadow-100);
}

.touch-slider-bottom {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: var(--page-background);
}

.touch-slides-container {
    width: 100%;
    height: 480px;
    min-height: 300px;
    display: flex;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.5s ease-out;
    cursor: grab;
}

.touch-slide {
    position: relative;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    padding: 0 60px;
    background-color: var(--page-background);
}

.touch-slider-pagination {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
    z-index: 500;
    padding-bottom: 10px;
}

.touch-slider-page {
    position: relative;
    font-weight: 700;
    font-size: var(--FS6);
}

.touch-slider-page.active {
    color: var(--brand-color);
}

.touch-slider-page::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);
}

.touch-slider-page.active::after {
    transform: scaleX(1);
    background-color: var(--brand-color);
}

.touch-slider-page:hover::after {
    transform: scaleX(1);
}

.touch-slide-content {
    display: flex;
    height: 100%;
    background-color: var(--page-background);
    border-radius: 10px;
    overflow: hidden;
}

.touch-slide-content-left {
    display: grid;
    place-content: center;
    height: 100%;
    padding: 0 30px;
    width: 50%;
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.touch-slide-text-heading {
    margin: 0 0 15px 0;
}

.touch-slide-text h3 {
    font-size: var(--FS3-1);
    font-weight: 700;
}

.touch-slide-text h3 span {
    color: var(--brand-color);
}

.touch-slide-text h4 {
    font-weight: 700;
    font-size: var(--FS4);
}

.touch-slide-text-subheading {
    font-weight: 600;
}

.touch-slide-text-main p {
    margin: 0 0 5px 0;
    font-size: var(--FS6);
}

.learn-more-btn {
    font-size: var(--FS6);
}

.sensor-types {
    padding-left: 20px;
    margin: 3px 0;
}

.touch-slide-image-container {
    display: grid;
    place-items: center;
    width: 50%;
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.touch-slide-img-container-mobile {
    display: none;
    transition: transform 0.2s ease-in-out;
}

.touch-slider-img {
    max-height: 50%;
    max-width: 80%;
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 1em var(--shadow-500));
    border-radius: 4px;
    user-select: none;
}

.touch-slider-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    user-select: none;
    padding: 0 15px;
}

.touch-slider-wrapper:hover .touch-slider-controls {
    opacity: 1;
}

.touch-slider-controls .touch-prev-btn,
.touch-slider-controls .touch-next-btn {
    position: relative;
    border: none;
    border-radius: 50%;
    background-color: hsla(0, 0%, 10%, 0.1);
    height: 3rem;
    width: 3rem;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    pointer-events: all;
}

.touch-slider-controls button > img {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.touch-slider-controls .touch-prev-btn:hover,
.touch-slider-controls .touch-next-btn:hover {
    opacity: 1;
}

.grabbing {
    cursor: grabbing;
}

.grabbing .touch-slide-content > * {
    transform: scale(0.98);
}

.touch-slider-wrapper .fb-left {
    background-image: linear-gradient(
        to right,
        var(--page-background) 30%,
        hsl(210, 44%, 96%, 0.1)
    );
    left: 0;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.touch-slider-wrapper .fb-right {
    background-image: linear-gradient(
        to left,
        var(--page-background) 70%,
        hsl(210, 44%, 96%, 0.1)
    );
    right: 0;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

/* UI Elements */

.touch-slide-UI {
    display: flex;
    margin-top: 30px;
    height: 3em;
    align-items: center;
}

@media (max-width: 1000px) {
    .touch-slides-container {
        max-height: none;
        height: 700px;
    }

    .touch-slide {
        padding: 0 10px;
        flex: 1 0 100%;
    }

    .touch-slide-content {
        height: 100%;
        flex-direction: column;
    }

    .touch-slide-content-left {
        width: 100%;
        padding: 15px;
        transform-origin: center;
    }

    .touch-slider-controls {
        display: none;
    }

    .touch-slide-text {
        width: 100%;
        height: auto;
    }

    .touch-slide-image-container {
        display: none;
    }

    .touch-slide-img-container-mobile {
        display: grid;
        place-items: center;
        margin: 40px 0;
    }

    .touch-slider-img {
        max-width: 90%;
        max-height: 270px;
        filter: drop-shadow(0 0 1em var(--shadow-500));
    }

    .touch-slide-text-heading {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .touch-slide-text-main {
        padding: 0 5%;
    }

    .touch-slide-text-main li {
        width: fit-content;
    }

    .touch-slide-UI {
        padding: 0 5%;
    }
}

@media (max-width: 750px) {
    .touch-slides-container {
        height: 650px;
    }

    .touch-slider-pagination {
        height: 50px;
        justify-content: space-evenly;
        gap: 10px;
        padding: 3px 0;
    }

    .touch-slide-content-left {
        padding: 10px;
    }

    .touch-slide-img-container-mobile {
        margin: 25px 0;
    }
}

@media (max-width: 700px) {
    .touch-slider-img {
        max-height: 250px;
    }
}

@media (max-width: 600px) {
    .touch-slides-container {
        height: 520px;
    }

    .touch-slide-UI {
        margin-top: 5px;
    }

    .touch-slider-img {
        max-height: 180px;
    }

    .touch-slide-img-container-mobile {
        margin: 15px 0;
    }
}

@media (max-width: 500px) {
    .touch-slider-img {
        max-height: 160px;
    }
}

@media (max-width: 400px) {
    .touch-slides-container {
        height: 500px;
    }

    .touch-slider-img {
        max-height: 150px;
    }
}
