body {
    opacity: 0;
}

.ldd {
    opacity: 1;
}

header {
    height: 0;
}

.section {
    overflow: hidden;
    user-select: none;
    padding: 0;
    margin: 0;
}

section:first-of-type {
    margin: 0;
}

#fp-nav {
    transition: opacity 0.3s ease;
    transform: rotate(-90deg) translateX(-45px) !important;
}

.bg-wrapper {
    position: absolute;
    top: var(--nav-bar-height);
    right: 0;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-segment {
    display: grid;
    place-items: center;
    padding: 0 10%;
    max-height: 50%;
}

.img-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50%;
}

.img-wrapper {
    position: relative;
    width: 80%;
    height: 100%;
    max-width: 950px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.text-wrapper {
    position: relative;
    z-index: 999;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 1200px;
}

.text-wrapper h1 {
    font-weight: 700;
    font-size: var(--FS5);
    text-align: left;
    width: fit-content;
    line-height: 1.2;
    margin-bottom: 0.2em;
}

.text-wrapper h2 {
    font-weight: 600;
    font-size: var(--FS10);
    text-align: left;
    width: fit-content;
    line-height: 1.2;
    margin-bottom: 0.7em;
}

.text-wrapper p {
    margin-top: 0.5rem;
    font-size: var(--FS11);
    text-align: left;
    width: fit-content;
}

.buttons {
    margin: 1rem 0 0 0;
    width: fit-content;
}

/* Individual Sections */

/* Section 0 */

.fp-viewing-1 #fp-nav ul li a span {
    background-color: white;
    box-shadow: 0 0 1em var(--shadow-900), 0 0 1em var(--shadow-900);
}

.section0-container {
    position: absolute;
    top: var(--nav-bar-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.intro-video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.section-fade {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: fade-in 1s ease-in 3.5s forwards;
}

.section-overlay {
    z-index: 1;
    opacity: 0;
    animation: fade-in 2s ease 0.5s forwards;
}

.overlay-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveLogo 1.5s ease 3.5s forwards;
}

.overlay-logo img {
    filter: drop-shadow(0 0 5px black) drop-shadow(0 0 10px black);
}

@keyframes moveLogo {
    100% {
        left: 20px;
        top: -10%;
        opacity: 0;
        width: 1vw;
        transform: translate(0, 0);
    }
}

.overlay-text {
    color: white;
    font-size: clamp(28px, 7vw, 70px);
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 0.2em black, 0 0 0.5em black;
    opacity: 0;
    transform: translateY(-20vh);
    will-change: transform;
    animation: moveOverlayText 2.5s ease 5.3s forwards;
}

.overlay-text a {
    display: block;
    font-size: var(--FS10);
    font-size: 400;
    transition: all 0.3s ease;
}

.overlay-text a:hover {
    color: var(--accent-color1);
}

@keyframes moveOverlayText {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 1;
    }
}

.section-fade,
.section-overlay,
.overlay-logo,
.overlay-text {
    animation-play-state: paused;
}

.fp-viewing-1 .section-fade,
.fp-viewing-1 .section-overlay,
.fp-viewing-1 .overlay-logo,
.fp-viewing-1 .overlay-text {
    animation-play-state: running;
}

.scroll-prompt {
    position: absolute;
    display: none;
    align-items: center;
    gap: 0.5em;
    font-size: var(--FS10);
    bottom: 1em;
    right: 1em;
    padding: 0.3em 0.6em;
    border-radius: 0.1em;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.6s ease;
}

.scroll-prompt * {
    flex: 0 0 auto;
}

.scroll-prompt p {
    color: black;
}

.scroll-prompt img {
    height: 0.7em;
    width: auto;
}

/* Section 1 */

.img-wrapper1 {
    width: 70%;
}

.img-wrapper1 img {
    filter: drop-shadow(5px 5px 20px var(--shadow-500));
}

/* Section 3 */

.bg-wrapper3 {
    justify-content: center;
    align-items: center;
    background-image: url(../../images/sustainability.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-wrapper3::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

.img-seg3 {
    display: none;
}

.text-seg3 {
    display: block;
    max-height: unset;
}

.text-wrapper .sec3-h1,
.text-wrapper .sec3-h1 span {
    margin: 0;
    text-shadow: 0 0 0.5em rgba(255, 255, 255), 0 0 0.3em rgba(255, 255, 255),
        0 0 0.1em rgba(255, 255, 255);
}

/* Cards */

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 1em;
    padding: 1em 0;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    font-size: var(--FS11);
    padding: 0.75em;
    border: 1px solid var(--brand-color2);
    border-radius: 0.3em;
    border: 1px solid var(--brand-color2);
    background-color: var(--page-background);
    box-shadow: 0 0 1em var(--shadow-100);
    opacity: 0;
    transform: scale(0.6);
    transform-origin: center;
    transition: all 0.3s ease;
}

.cards-wrapper.come-in .card {
    transition: all 0.6s ease;
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.15s * var(--i));
}

.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text-container h3 {
    font-size: var(--FS10);
    color: var(--brand-color2);
}

.card-text-container *:not(.link1) {
    width: 100%;
    text-align: center;
}

/* Section 4 */

.img-wrapper4 {
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.1s;
    transition-delay: 0.5s;
}

.fp-viewing-5 .img-wrapper4 {
    transition: all 2s ease-in-out;
    box-shadow: 0 0 30px var(--shadow-900);
    transition-delay: 1.8s;
}

.img-sec4 {
    transition: all 0.1s;
    transition-delay: 0.5s;
}

.fp-viewing-5 .img-sec4 {
    transition: all 2s ease-in-out;
    transform: scale(3.3) translateY(-22.7%) translateX(-0.75%);
    transition-delay: 1.2s;
}

/* Etc */

.unhidden {
    display: none;
}

/* Animations */

#bg-sec0,
#bg-sec1,
#bg-sec2,
#bg-sec3,
#bg-sec4,
#bg-sec5,
#bg-sec6,
#bg-sec7,
#bg-sec8 {
    opacity: 0;
}

/* sec0 anim */

.fp-viewing-1 #bg-sec0 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

.fp-viewing-2 #bg-sec0,
.fp-viewing-3 #bg-sec0,
.fp-viewing-4 #bg-sec0,
.fp-viewing-5 #bg-sec0,
.fp-viewing-6 #bg-sec0,
.fp-viewing-7 #bg-sec0 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* sec1 anim */

.fp-viewing-2 #bg-sec1 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

.fp-viewing-1 #bg-sec1,
.fp-viewing-3 #bg-sec1,
.fp-viewing-4 #bg-sec1,
.fp-viewing-5 #bg-sec1,
.fp-viewing-6 #bg-sec1,
.fp-viewing-7 #bg-sec1,
.fp-viewing-8 #bg-sec1,
.fp-viewing-9 #bg-sec1 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* sec2 anim */

.fp-viewing-1 #bg-sec2,
.fp-viewing-2 #bg-sec2,
.fp-viewing-4 #bg-sec2,
.fp-viewing-5 #bg-sec2,
.fp-viewing-6 #bg-sec2,
.fp-viewing-7 #bg-sec2,
.fp-viewing-8 #bg-sec2,
.fp-viewing-9 #bg-sec2 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.fp-viewing-3 #bg-sec2 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

/* sec3 anim */

.fp-viewing-1 #bg-sec3,
.fp-viewing-2 #bg-sec3,
.fp-viewing-3 #bg-sec3,
.fp-viewing-5 #bg-sec3,
.fp-viewing-6 #bg-sec3,
.fp-viewing-7 #bg-sec3,
.fp-viewing-8 #bg-sec3,
.fp-viewing-9 #bg-sec3 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.fp-viewing-4 #bg-sec3 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

/* sec4 anim */

.fp-viewing-1 #bg-sec4,
.fp-viewing-2 #bg-sec4,
.fp-viewing-3 #bg-sec4,
.fp-viewing-4 #bg-sec4,
.fp-viewing-6 #bg-sec4,
.fp-viewing-7 #bg-sec4,
.fp-viewing-8 #bg-sec4,
.fp-viewing-9 #bg-sec4 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.fp-viewing-5 #bg-sec4 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

/* sec5 anim */

.fp-viewing-1 #bg-sec5,
.fp-viewing-2 #bg-sec5,
.fp-viewing-3 #bg-sec5,
.fp-viewing-4 #bg-sec5,
.fp-viewing-5 #bg-sec5,
.fp-viewing-7 #bg-sec5,
.fp-viewing-8 #bg-sec5,
.fp-viewing-9 #bg-sec5 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.fp-viewing-6 #bg-sec5 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

/* sec6 anim */

.fp-viewing-1 #bg-sec6,
.fp-viewing-2 #bg-sec6,
.fp-viewing-3 #bg-sec6,
.fp-viewing-4 #bg-sec6,
.fp-viewing-5 #bg-sec6,
.fp-viewing-6 #bg-sec6,
.fp-viewing-8 #bg-sec6,
.fp-viewing-9 #bg-sec6 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.fp-viewing-7 #bg-sec6 {
    opacity: 1;
    transition: all 0.7s ease-in;
}

/* Media Queries */
@media (max-width: 1000px) {
    .img-wrapper {
        width: 80%;
    }

    /* Section 4 */

    .img-wrapper4 img {
        max-width: 65%;
    }

    .fp-viewing-5 .img-sec4 {
        transform: scale(3.36) translateY(-22.5%) translateX(0.5%);
    }
}

@media (max-width: 750px) {
    .buttons {
        margin: 1rem 0 0 0;
    }

    #fp-nav {
        transform: rotate(-90deg) translateX(-55px) !important;
    }

    /* Section 0 */
    .text-seg0 {
        height: 35%;
    }
    .img-seg0 {
        height: auto;
    }

    /* Section 1 */
    .img-wrapper1 img {
        filter: drop-shadow(3px 3px 15px var(--shadow));
    }

    /* Section 4 */
    .img-wrapper4 {
        width: 90%;
    }

    .fp-viewing-5 .img-sec4 {
        transform: scale(3.5) translateY(-22.3%) translateX(1%);
    }
}

@media (max-width: 500px) {
    /* Section 0 */

    .overlay-logo {
        width: 60vw;
    }

    .fp-viewing-5 .img-sec4 {
        transform: scale(3.5) translateY(-22.1%) translateX(1%);
    }

    /* Section 1 */

    .img-wrapper1 img {
        filter: drop-shadow(1px 1px 10px var(--shadow));
    }

    .text-wrapper h1 {
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    .text-hideable {
        display: none;
    }

    .unhidden {
        display: initial;
    }
}

@media (max-width: 400px) {
    .fp-viewing-5 .img-sec4 {
        transform: scale(3.5) translateY(-22%) translateX(1%);
    }
}

/* min-width */

@media (min-width: 2000px) {
    @keyframes moveLogo {
        75% {
            opacity: 0;
        }

        100% {
            left: 10%;
            top: -10%;
            opacity: 0;
            width: 1vw;
            transform: translate(0, 0);
        }
    }
}

@media (min-width: 2500px) {
    @keyframes moveLogo {
        75% {
            opacity: 0;
        }

        100% {
            left: 17.5%;
            top: -10%;
            opacity: 0;
            width: 1vw;
            transform: translate(0, 0);
        }
    }
}

@media (min-width: 3000px) {
    .overlay-logo {
        animation: moveLogo 2s ease 3.5s forwards;
    }

    @keyframes moveLogo {
        50% {
            opacity: 0;
            width: 1vw;
        }

        70%,
        100% {
            left: 22%;
            top: -10%;
            opacity: 0;
            width: 1vw;
        }
    }
}

@media (min-width: 4000px) {
    @keyframes moveLogo {
        75% {
            opacity: 0;
        }

        100% {
            left: 35%;
            top: -10%;
            opacity: 0;
            width: 1vw;
        }
    }
}

/* mixed media queries */

@media (max-width: 800px) and (min-height: 1000px) {
    .bg-wrapper {
        justify-content: center;
        gap: 10px;
    }

    .bg-wrapper:not(.bg-wrapper0) {
        gap: 100px;
    }
}
