.page-header {
    margin-bottom: 0.2em;
}

.sub-header {
    font-size: var(--FS7);
    line-height: 1;
    width: fit-content;
    transform: none;
    animation: none;
    text-align: left;
    margin: 1em 0 0.6em;
}

.sub-header::after {
    margin: 0.2em 0 0;
    height: 2px;
    width: 75%;
}

.main-section p {
    font-size: var(--FS11);
    margin: 0 0 0.4em 0;
    max-width: 85ch;
}

.main-section .p-header,
.main-section .sub-p-header {
    font-size: var(--FS10);
}

.main-section .sub-p-header {
    width: fit-content;
    margin: 0.8em 0;
    border-bottom: 1px solid currentColor;
}

.job-ul {
    padding: 0 0 0 1.2em;
}

.application-info {
    margin-top: 2rem;
}

.return-link {
    font-size: var(--FS10);
}
