.page-header {
    margin: 0 0 0.1em 0;
}

h3 {
    margin: 0 0 0.4em 0;
}

.viewport-height-wrapper {
    min-height: calc(100vh - var(--header-height));
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
