.main-wrapper {
    margin-top: 4vw;
}

/* Hero section */

.hero-img-wrapper {
    position: relative;
    display: block;
    height: 530px;
    overflow: hidden;
    padding-right: 0px;
}

.hero-img-container {
    display: block;
    position: relative;
    place-items: initial;
    perspective: 700px;
    top: 25px;
    height: 500px;
    min-width: 630px;
    width: 100%;
}

.hero-img-container img {
    width: 45vw;
    height: auto;
    max-width: 650px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 15px var(--shadow-500));
    transform: rotate3d(0, -0, 0, 0deg) rotateZ(0deg) translateX(200px);
    opacity: 0;
    animation: heroImageAnim 1.1s ease forwards;
}

@keyframes heroImageAnim {
    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: rotate3d(0.5, -0.9, 0, 10deg) rotateZ(1deg) translateX(0px);
    }
}

/* Intro section */

.intro-section {
    padding-top: 20px;
}

.intro-paragraph {
    margin-bottom: 0.2em;
}

.main-img {
    max-height: 550px;
}

/* Media Queries */

@media (min-width: 1450px) {
    .main-wrapper {
        margin-top: 58px;
    }
}

@media (max-width: 1000px) {
    .hero-img-wrapper {
        display: none;
    }

    .main-wrapper {
        margin-top: 0;
    }
}

@media (max-width: 680px) {
    .preview-container {
        height: auto;
    }
}
