/* Hero section preview */

.hero-img-wrapper {
    overflow: hidden;
}

.preview-section {
    height: 100%;
    width: 100%;
    transform: translateX(10vw);
    opacity: 0;
    animation: fade-move-in 2s ease-in-out forwards;
}

.slider-wrapper {
    position: relative;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slider {
    display: flex;
    height: 100%;
    will-change: transform;
    overflow: visible;
}

.slide {
    display: flex;
    flex: 0 0 100%;
    padding: 0 3px;
    overflow: visible;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.slide.active {
    opacity: 1;
    transition: opacity 1.5s ease;
}

.slide.fixed {
    opacity: 1;
    transition: opacity 0s;
}

.slide-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 0;
    height: calc(var(--header-height) - var(--nav-bar-height));
}

.slide-img {
    max-width: 65%;
    max-height: 70%;
    filter: drop-shadow(0 0 1vw rgba(255, 255, 255, 0.15));
}

/* Intro section */

.page-header {
    margin: 0 0 0.4em -0.1em;
}

.main-img {
    max-width: 60%;
}

/* Media Queries */

@media (max-width: 1100px) {
    .main-img {
        max-width: 75%;
    }
}

@media (max-width: 1000px) {
    .preview {
        max-width: 80%;
    }
}

@media (max-width: 680px) {
    .intro-section {
        margin-bottom: 20px;
    }

    .preview-container {
        height: auto;
    }

    .main-img {
        max-width: 90%;
    }
}
